@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Andada|Permanent+Marker|Raleway:300');

#index {
    height: 100%;
}

* {
  -webkit-overflow-scrolling: touch;
}

html,body {
  position: fixed;
  height:100%;
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: #2196F3;
  color:#BBDEFB;
  overflow:scroll;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size:4em;
  text-align: center;
  color:#BBDEFB;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size:2em;
}


.voting_buttons {
  margin: 0 auto;
  display:table;
}

.single_button {
  display:table-cell;
}

.lead {
    font-family: 'Roboto', sans-serif;
    color:#BBDEFB;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BBDEFB;
    opacity: 1; /* Firefox */
}

.index_form{
  text-align: center;
}

.text_input{
 position: relative;
 max-width: 400px;
 margin: 30px auto 0;
 border: 0;
 border-bottom: 2px solid #1976D2;
 width: 100%;
 font-size: 30px;
 line-height: 35px;
 height: 70px;
 text-align: center;
 padding: 10px;
 background: transparent;
  color: #BBDEFB;
}

.button_holder{
  text-align: center;
}

.button_boi{
  width: 10em;  height: 5em;
  line-height: 35px;
  text-align: center;
  background: #333;
  color: #BBDEFB;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.vote_button{
  width: 10em;  height: 5em;
  line-height: 35px;
  text-align: center;
  background: #333;
  color: #BBDEFB;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  border-color: #333;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: #2196F3;
  color:#BBDEFB;
  overflow:scroll;
}

.container-full a {
  color:#FFF;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.create_holder{
  text-align: center;
}
#create {
  width: 12em;  height: 3em;
  text-align: center;
  background: #333;
  color: #BBDEFB;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  font-size: 10px;
  letter-spacing: 0.3px;
}
