@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Andada|Permanent+Marker|Raleway:300');

html,body {
  position: fixed;
  height:100%;
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: #2196F3;
  color:#BBDEFB;
  overflow-x:hidden;
  overflow-y:scroll;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size:4em;
  text-align: center;
  color:#BBDEFB;
}

/*p {
  font-family: 'Roboto', sans-serif;
  font-size:2em;
}*/

/*Lines up voting buttons on one line*/
.voting_buttons {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.single_button {
  text-align: center;
  display:inline-block;
}
.vote_button{
  text-align: center;
}
.vote_button_forms{
  text-align: center;
  margin: 10px;
}
.vote_button_div{
  text-align:center;
}

/*Formats paragraph text*/
.lead {
    font-family: 'Roboto', sans-serif;
    color:#BBDEFB;
    text-align: center;
}

/*Colors the form placeholder text*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BBDEFB;
    opacity: 1; /* Firefox */
}

/*Centers form fields*/
.index_form{
  text-align: center;
}

/*Formats text input fields*/
.text_input{
 position: relative;
 max-width: 400px;
 margin: 30px auto 0;
 border: 0;
 border-bottom: 2px solid #1976D2;
 width: 100%;
 font-size: 30px;
 line-height: 35px;
 height: 70px;
 text-align: center;
 padding: 10px;
 background: transparent;
  color: #BBDEFB;
}

/*Centers submit button*/
.button_holder{
  text-align: center;
}

/*Formats submit button*/
.button_boi{
  width: 10em;
  height: 5em;
  line-height: 35px;
  text-align: center;
  background: #333;
  color: #BBDEFB;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

/*.single_button{
   margin:10px;
}*/
/*formats vote button*/

.vote_button{
  width: 10em;
  height: 5em;
  line-height: 35px;
  text-align: center;
  background: #333;
  color: #BBDEFB;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  border-color: #333;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

@media only screen and (max-width: 600px) {
    .vote_button {
        width: 5em;
        height: 3em;
        line-height: 10px;
        text-align: center;
        background: #333;
        color: #BBDEFB;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        border-color: #333;
        font-size: 6px;
        text-transform: uppercase;
        letter-spacing: 0.1px;
    }
}

/* Custom container */
/*.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: #2196F3;
  color:#BBDEFB;
 /* overflow:scroll;
 /* -webkit-overflow-scrolling: touch*/
/*}*/
/*
.container-full a {
  color:#FFF;
  text-decoration:none;
}
*/
/*.v-center {
  margin-top:7%;
}
*/

/*Centers create button*/
.create_holder{
  text-align: center;
}
/*Styles create button*/
#create {
  width: 12em;
  height: 3em;
  text-align: center;
  background: #333;
  color: #BBDEFB;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  font-size: 10px;
  letter-spacing: 0.3px;
}
